<article class="bg-gray-200 w-screen p-8">
  <div class="max-w-screen-lg m-auto">
    <h2 class="text-gray-900 text-center">Personal trainer para quem?</h2>
    <p class="text-gray-900">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quasi
      vel est, error illum reprehenderit rerum soluta distinctio, dicta dolore
      optio illo consectetur itaque hic maiores facere quis, fugit impedit.
    </p>
  </div>
</article>
